header{
  background-color: #0a0a0a; /* Fondo negro */
  background-image: 
    linear-gradient(rgba(30, 255, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(30, 255, 0, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; /* Tamaño de cada celda de la cuadrícula */
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
  z-index: -2;
  /* border-bottom: 1px solid #008000; */
}
.header-content{
  display: flex;
  height: 90%;
}
.header-content > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-img img{
  width: 50%;
}
.available{
  /* background-color: #43c343; */
  background-color: #0a0a0a;
  font-weight: 500;
  padding: 10px;
  margin: 20px;
  position: relative;
  text-align: center;
  border-radius: 15px;
}
.available::after{
  --angle: 0deg;
  content: '';
  z-index: -1;
  background: conic-gradient(from var(--angle),transparent 35%, #68e868);  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 15px;
  padding: 2px;
  animation: animated-border infinite 2s linear;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes animated-border {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
.available::before{
  --angle-bef: 180deg;
  content: '';
  z-index: -1;
  background: conic-gradient(from var(--angle-bef),transparent 35%, #68e868);  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 15px;
  padding: 2px;
  animation: animated-border-bef infinite 2s linear;
}
@property --angle-bef {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes animated-border-bef {
  0% {
    --angle-bef: 180deg;
  }
  100% {
    --angle-bef: 540deg;
  }
}

.presentation-container p{
  max-width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.4em;
}
.social-media{
  display: flex;
  gap: 15px;
}

.angular{
  /* background: rgb(239,8,17); */
  background: linear-gradient(90deg, rgba(239,8,17,1) 0%, rgba(240,50,209,1) 31%, rgba(128,5,250,1) 69%);
  background-clip:text; /* Propiedad que permite que el fondo se aplique solo al texto */
  -webkit-text-fill-color: transparent; /* Propiedad que permite que el texto sea transparente y así solo se vea el background con la forma del texto*/
}

.flecha{
  color: white;
  position: absolute;
  top: 95%;
  left: 50%;
  font-weight: bolder;
  font-size: 24px;
  transform: translate(-50%, -50%) rotate(90deg);
  animation: ease-in-out 1s infinite alternate flecha;
}
@keyframes flecha{
  0%{
    top: 95%;
  }
  100%{
    top: 90%;
  }
  
}