nav ul{
  display: flex;
  align-items: center;
  background-color: #0a0a0a; /* Fondo negro */
  border-bottom: 1px solid green;
  padding: 5px;
  list-style: none;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
nav li{
  padding: 15px;
}
nav ul a{
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}
nav ul a:hover{
  color: green;
}
.CV{
  margin-left: auto;
}